<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DA_LTTQ.Properties.Settings.DA_LTTQConnectionString"
            connectionString="Data Source=DESKTOP-3Q5V10H;Initial Catalog=DA_LTTQ;User ID=sa;Password=Nguyenduchieu2003#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
